---
interface Props {
	title: string;
	content: string;
}
const { title, content} = Astro.props;
import {Footer} from '@/components/Footer'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="../../public/cp-logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={content}>
		<meta name="title" content={title}>

		<title>{title}</title>

	</head>
	<body class="flex">
		<div class="overflow-x-auto min-w-[650px] m-auto flex flex-col justify-center basis-[550px]">		
			<main class=" mx-14  ">		
				<slot />
			</main>
			<Footer/>
		</div>
	</body>
</html>
